<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><?=msg?></title>
    <style>
        html{
            height: 100%;
        }
        body{
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>
    <div>
        <h3><?=msg?>  after <?=second?> second return</h3>
        <script>
        window.onload=function(){
            setTimeout(function(){window.history.go(-1);},'<?=second?>000');
        }
        </script>
    </div>
</body>
</html>